<head>
   <link rel="stylesheet" href="https://www.itoven-ai.co/travelingsalesman/traveling_salesman_game.css">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Free math games by Exceed IO">
   <meta name="keywords" content="coolmath, cool math, cool math games, math games, games, free games, javascript game, shape game, kids game, childrens game, online game, free game math, free school website math, school approved games, teacher approved games">
   <link rel="shortcut icon" type="image/png" href="https://www.itoven-ai.co/images/LogoMakr.png" sizes="32x32">
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <title>Traveling Salesman Game</title>
</head>
<div id="gameWindow">
   <div id="dotLevelTitle">
      Level
   </div>
   <canvas id="dotWindow" onclick="handleGameClick();">
   </canvas>
   <dialog class="modalUserStart" id="modalLightLogin" onclick="//document.querySelector('#modalLightLogin').close()" style="">
      <div id="screennameContainer">
         <div id="embeddedScreenName">
            <h2 id="modalTitleScreenName">Choose a screen name...
            </h2>
            <div>
               <div id="startScreenLogin">
                  <input onclick="document.querySelector('#modalLightLogin').close()" style=";font-size: 2rem; font-family: futura; text-align: center; " type="text" id="displayNameBoxEnter" name="displayNameBoxEnter" required
                     minlength="4" maxlength="25" size="36" placeholder="Display Name (No Profanity)">
               </div>
            </div>
         </div>
         <div id="embeddedScr1" style="border-radius: 4rem; max-width: 100%;padding-left: 7%;">
            <button id="startWithName" onclick="hideModalScreenName()" style="font-size: 3rem; padding: 1rem; text-align: center; align: center; position: relative; left: 31%;font-family: futura; font-weight: bold; color: royalblue;;background-color: #ebf7ca;border-radius: 3rem; min-height: 4.2rem">START!</button>
         </div>
         <h3 id="clickAnywhereSCR3" style="text-align: center;">Click anywhere in this box to continue as guest.</h3>
      </div>
   </dialog>
   <dialog class="modalHelpGuide" id="modalHelpGuide" onclick="hideHelp()" style="position: relative; top: 15%;">
      <div id="helpContainer">
         <div id="embeddedHelp">
            <h2 id="modalHelpGuideTitle">How to play...
            </h2>
         </div>
         <p id="blobBackgroundParagraph">
            "The travelling salesman problem asks the following question: "Given a list of cities and the distances between each pair of cities, what is the shortest possible route that visits each city exactly once and returns to the origin city?""
         </p>
         <p id="blobBackgroundParagraph2" style="position: relative; top: 2rem; color: magenta; ">
            The object of the game is to connect the dots and keep the distance traveled as low as possible. You get a higher score based on the time you take and the distance you use. See how far you can go!
         </p>
         <p id="blobBackgroundParagraph3" style="position: relative; top: 2rem; color: magenta; ">
            Simply move your mouse on the grid and click between two dots to connect them. You must connect all the dots in a sequence. Make good decisions about space, direction, and distance. Good luck.
         </p>
         <h3 id="clickAnywhereSCR32" style="text-align: center;">Click anywhere in this box to continue.</h3>
      </div>
   </dialog>
   <dialog class="modalLevelReport" id="modalLevelReport" onclick="hideModalButton()">
      <div id="reportContainer">
         <div id="embeddedLevelReport">
            <h2 id="modalTitle">Level <span id="levelBoxModal">1</span><span> Report</span>
            </h2>
            <div>
               <div id="starContainerModal">
                  <img id="starImage" src="https://www.itoven-ai.co/images/starunderlay.png" width="100%" style="background-image: linear-gradient(45deg, red, yellow); ">
                  <div id="starBlocker"></div>
               </div>
            </div>
         </div>
         <div id="embeddedStatsSection1" style="border-radius: 4rem; min-width: 600px;">
            <div id="embeddedStatsSection2">
               <div id="timerWrapper" style="display: inline-flex;">
                  <h1 style="min-width: 300px;">Time Used: </h1>
                  <h1><span style="min-width: 300px;position: relative; right: 0.5rem;" id="timerValueBox">0h:1m:01s</span></h1>
               </div>
               <div id="distanceRatingWrap34per">
                  <h1 class="ratingBoxers" style="color: beige;">Time Record:<span style="" id="ratingBoxers">102.2441m</span></h1>
                  <h1 class="ratingBoxers">CPU Distance:<span style="position: relative; right: 0.1rem;" id="cpuDistanceValueBox">102.2441m</span></h1>
                  <h1 class="ratingBoxers" style="color: beige;">Your Distance:<span style="position: relative; left: 0.5rem;" id="userDistanceValueBox">102.2441m</span></h1>
                  <h1>Level Score:<span style="position: relative; left: 1rem;" id="levelScoreBox">36782 pts</span></h1>
               </div>
            </div>
         </div>
         <h3 id="clickAnywhereH3" style="text-align: center;">Click anywhere in this box to continue to next level.</h3>
      </div>
   </dialog>
   <div id="GameSideBar" style="padding-left: 1rem;">
      <div id="titleBox">Traveling Salesman Game</div>
      <div id="duoBoard" style="display: inline-flex;">
         <div id="Gameboard">
			 <div id="spacerPointPick" style="padding: 2rem; min-width: 350px;">

				<div id="pointscountselector2" class="pointsCountSelector" style="position: relative; right: 2rem; ;;border-radius: 2rem; box-shadow: 11px 16px 5px 4px rgba(0,0,0,0.47); ;background-color: white; padding-left: 2rem; padding: 2rem; min-width: 350;padding-right: 5rem; ">
				   <div id="pointsCountEmbed" style="display: inline-flex;">
					  <p id="numberofpointsexp" style="">Number of Points:</p>

					  <input type="range" min="1" max="100" value="4" class="slider" id="pointsRange">
					  <p id="pointsBox2">9.9</p>
				   </div>
				</div>
			 </div>

            <div id="distanceBoxWrapper" class="BoxWrapper">
               <p style="padding-right: 2rem;">Distance Traveled:
               <p>
               <p id="distanceBox" class="statCounterBubble">0.0</p>
            </div>
			 <div id="spacer" style="padding-top: 2rem; padding-bottom: 2rem;">
				<div id="unIdealDistanceBoxWrapper" class="BoxWrapper">
				   <p style="padding-right: 1rem;">Longest path:
				   <p>
				   <p id="distanceBoxPoor" class="statCounterBubble">0.0</p>
				</div>

			 </div>
            <div id="IdealDistanceBoxWrapper" class="BoxWrapper">
               <p style="padding-right: 1rem;">Shortest path:
               <p>
               <p id="distanceBoxRich" class="statCounterBubble">0.0</p>
            </div>
            <p id="modeBox">Mode: Auto-Solve</p>
			 <div id="mouseContainer">
               <p id="mousePosBox" class="statCounterBubble"></p>
            </div>
            <div id="nearestPointContainer">
				<p style="padding-right: 1rem;">Nearest Point:  </p>


               <p id="nearestPointBox" class="statCounterBubble"></p>
            </div>
            <div id="PointsContainer">
               <p></p>
               <p id="pointsListBox"></p>
            </div>
            <div id="trackSecTable">
               <table id="trackSection">
                  <table id="trackSection2">
                     <tbody id="trackSectionBody">
                        <tr style="display: inline-flex;">
                           <td id="trackSectionTitle">Visited Locations</td>
                        </tr>
                     </tbody>
                  </table>
               </table>
               <div id="simulatedVisitsTable">
               </div>
            </div>
            <div id="buttonsStarterPack">
               <button id="startButton" style="position: relative; top: 3rem; " class="buttonStarterPackC" onclick="startNewGame()">Start New Game</button>
               <button id="exposeConnections" class="buttonStarterPackC" onmousedown="handleMouseClover()" onmouseup="handleMouseUp()">View Connections</button>
               <button id="restartLevel" class="buttonStarterPackC" onclick="restartLevel()">Restart Level (If Stuck)</button>
               <button id="helpButton" class="buttonStarterPackC" onmousedown="getHelp()" onmouseup="hideHelp()">How to play</button>
            </div>
         </div>
         <div id="sepboard" style="min-width: 15px;"></div>
         <div id="Leaderboard">
            <h3 id="leaderboardTitle" style="text-align: center; color: gold; background-color: cream; height: 94px; width: 105px;position: relative; top: 0;">Leaderboard</h3>
            <div id="puristicLeaderboard"></div>
         </div>
      </div>
   </div>
   <script src="https://www.itoven-ai.co/travelingsalesman/traveling_salesman_game.js">index.js"></script>
</div>
<footer>
   <p style="position: relative: top: 100; text-align: center;">
      This game was created and designed by Arthur Lee Martinez, founder of Exceed IO Inc and iToven AI.
   </p>
</footer>